.streamContent{
	text-align:center;
	box-shadow:0px 0px 10px #B6AAE9;
	padding:0px;
	margin:0px;
}

iframe {
    border: none;

}

#twitchStream{
	width:100%;
	height:324px;
	border:0px;
	padding:0px;
	margin:0px;
}

#chatStream{
	width:100%;
	height:500px;
	border:0px;
	padding:0px;
	margin:0px;
}

/*bootstrap grid Medium*/
@media only screen and (min-width: 768px){
	/*ratio infram video Stream*/
	#twitchStream{
		width:768px;
		height:432px;
	}

	.streamContent{
		width:768px;
		
	}

}

/*bootstrap grid Large*/
@media only screen and (min-width: 992px){
	/*ratio infram video Stream*/
	#twitchStream{
		width:992px;
		height:558px;
	}
	.streamContent{
		width:992px;
		
	}

}

/*bootstrap grid Large*/
@media only screen and (min-width: 1140px){
	/*ratio infram video Stream*/
	#twitchStream{
		width:80%;
		height:800px;
	}

	#chatStream{
		width:20%;
		height:800px;
		max-width:290px;
	}


	.streamContent{
		width:100%;
		max-width: 1988px;
	}

}