#homePage{
	height:100vh;
	background-color:#181818;
}

.mascotte{
	border-radius:50px;
	box-shadow: 0px 0px 10px #B6AAE9;
}

.brandName{
	font-size: 30px;
}



.bakamomeColor{
	color:#B6AAE9;
}

.footer{
	max-width: 1988px;
}

.footer i{
	font-size:32px;
}



.footerGames i{
	font-size:32px;
}


.menuLink:hover{
	text-decoration: underline;
	color:#B6AAE9;
}

.bg-bakamome{
	background-color:#efeff1;
}

.cardSize{
	max-width: 900px;
}

.cardBg{
	backgroupd-color:#efeff1 !important;
}


@media only screen and (min-width: 768px){
	.brandName{
		font-size: 50px;
	}

}